.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
    background-image: linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);

    &.navbar-fixed-top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1030;
    }

    .navbar-header {
        float: left;
    }

    .navbar-brand {
        color: #777;
        float: left;
        height: 50px;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;

        &:focus, &:hover {
            color: #5e5e5e;
            background-color: transparent;
        }
    }

    .navbar-collapse, .navbar-form {
        border-color: #e7e7e7
    }

    .navbar-nav {
        float:left;
        margin: 0;

        >li {
            float: left;

            >a {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }

        >.open {
            a, a:focus, a:hover {
                color: #555;
                background-color: #e7e7e7
            }
        }
    }
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    &.navbar-right {
        float: right;
    }

    >li {
        position: relative;
        display: block;

        >a {
            position: relative;
            display: block;
            padding: 10px 15px;

            &:focus, &:hover {
                text-decoration: none;
                background-color: #eee;
            }

            img {
                max-width: none;
            }
        }

        &.disabled {
            >a {
                color: #777;

                &:focus, &:hover {
                    color: #777;
                    text-decoration: none;
                    cursor: not-allowed;
                    background-color: transparent;
                }
            }
        }
    }

    .open {
        >a, >a:focus, >a:hover {
            background-color: #eee;
            border-color: #337ab7;
        }
    }

    .nav-divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }
}

.nav-tabs {
    border-bottom: 1px solid #ddd;

    >li {
        float: left;
        margin-bottom: -1px;

        >a {
            margin-right: 2px;
            line-height: 1.42857143;
            border: 1px solid transparent;
            border-radius: 4px 4px 0 0;

            &:hover {
                border-color: #eee #eee #ddd;
            }
        }

        &.active {
            >a, >a:focus, >a:hover {
                color: #555;
                cursor: default;
                background-color: #fff;
                border: 1px solid #ddd;
                border-bottom-color: transparent;
            }
        }
    }

    &.nav-justified {
        width: 100%;
        border-bottom: 0;

        >li {
            float: none;

            >a {
                margin-bottom: 5px;
                text-align: center;
            }
        }

        >.dropdown {
            .dropdown-menu {
                top: auto;
                left: auto;
            }
        }
    }
}

.dropdown,.dropup {
    position: relative;
}

.dropdown-toggle:focus {
    outline: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);

    >li {
        >a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;

            &:focus, &:hover {
                color: #262626;
                text-decoration: none;
                background-color: #f5f5f5;
            }
        }
    }

    >.active {
        >a, a:focus, a:hover {
            color: #fff;
            text-decoration: none;
            background-color: #337ab7;
            outline: 0;
        }
    }

    >.disabled {
        >a {
            color: #777;

             &:focus, &:hover {
                text-decoration: none;
                cursor: not-allowed;
                background-color: transparent;
                background-image: none;
                filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
             }
        }
    }
}
